future_work
monitoring_logs
tests
_pychache_
__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/
data
.venv
unit_tests

# Ignore everything in thesis except selected scripts
thesis/*
!thesis/hpo_curvature.py
!thesis/hpo_main.py
!thesis/hpo_v15_backup.py
!thesis/hpo_minimal.py
!thesis/mini_benchmark.py
!thesis/advanced_benchmark.py
!thesis/benchmark_xgboost_tabular.py
!thesis/benchmark_hpobench_paramnet_curv.py
!thesis/benchmark_hpobench_xgb_tabular_curv.py
!thesis/benchmark_jahs.py
!thesis/ALBA_V1.py
!benchmark_synthetic_cma.py

# Large folders
miniconda3/
miniconda.sh
algo_logs/
HPOBench/
!benchmark_synthetic.py